---
import Navbar from "./Navbar.astro";
import "aos/dist/aos.css";
---

<header class="w-full ">

    <section class="py-50 sm:py-50 text-center px-4">
    <div data-aos="fade-up"> 
    <h2 class="text-5xl font-bold mb-4 text-[#DED1C6]">Hola,</h2>
    <h2 class="text-5xl font-bold mb-4 text-[#DED1C6]">somos nombre</h2>
    <h3 class="text-xl font-xs text-[#DED1C6]">
    La website que tu negocio necesita
    </h3>
    <br>
    <a 
    href="/contacto" 
    class="mt-4 inline-block text-base px-12 py-4 rounded-full 
            text-[#0F2D4D]  bg-white/50 font-bold
             hover:bg-white/25 hover:text-white transition"
    >
    ¡Contactanos!
    </a>

    </div>  
  </section>
</header>