---
import Navbar from "./Navbar.astro";
import "aos/dist/aos.css";
---

<header class="w-full">

    <section class="py-50 sm:py-50 text-center bg-[radial-gradient(circle_at_20%_85%,#191834,transparent_90%),radial-gradient(circle_at_50%_30%,#26b7cd,transparent_80%),radial-gradient(circle_at_35%_60%,#61bdaf,transparent_70%),linear-gradient(to_bottom,#191834,#2b2c68)]">
    <div data-aos="fade-up"> 
    <h2 class="text-5xl font-bold mb-4 text-[#DED1C6]">Hola,</h2>
    <h2 class="text-5xl font-bold mb-4 text-[#DED1C6]">somos nombre</h2>
    <h3 class="text-xl font-xs text-[#DED1C6]">
    La website que tu negocio necesita
    </h3>
    <br>
    <a 
    href="/contacto" 
    class="mt-4 inline-block text-base px-12 py-4 rounded-full 
            text-[#0F2D4D] bg-[#DED1C6] font-bold
            hover:bg-[#A77693] hover:text-white transition"
    >
    ¡Contactanos!
    </a>

    </div>  
  </section>
</header>