---
import "aos/dist/aos.css";
---

<section id="proceso" class="bg-[#162E4C] py-16 px-8 max-auto mx-auto">
  <h2 data-aos="fade-up" class="text-3xl font-bold text-[#E6E0D9] mb-12 text-center">Nuestro Proceso</h2>
  
  <div data-aos="fade-up" class="grid grid-cols-1 md:grid-cols-3 gap-10">
    
    <div class="flex flex-col items-center text-center px-4">
      <div class="bg-[#F9F9F9] text-bg-[#162E4C] rounded-full w-16 h-16 flex items-center justify-center mb-4 text-xl font-bold">1</div>
      <h3 class="text-xl font-semibold mb-2 text-[#E6E0D9]" >Contacto y briefing</h3>
      <p class="text-[#F9F9F9]">Nos contás tus ideas y objetivos para entender bien tu proyecto.</p>
    </div>
    
    <div class="flex flex-col items-center text-center px-4">
      <div class="bg-[#F9F9F9] text-bg-[#162E4C] rounded-full w-16 h-16 flex items-center justify-center mb-4 text-xl font-bold">2</div>
      <h3 class="text-xl font-semibold mb-2 text-[#E6E0D9]">Propuesta y presupuesto</h3>
      <p class="text-[#F9F9F9]">Te enviamos un presupuesto claro con tiempos y costos.</p>
    </div>
    
    <div class="flex flex-col items-center text-center px-4">
      <div class="bg-[#F9F9F9] text-bg-[#162E4C] rounded-full w-16 h-16 flex items-center justify-center mb-4 text-xl font-bold">3</div>
      <h3 class="text-xl font-semibold mb-2 text-[#E6E0D9]">Diseño y desarrollo</h3>
      <p class="text-[#F9F9F9]">Creamos y desarrollamos tu web con revisiones para que quede perfecto.</p>
    </div>
    
    <div class="flex flex-col items-center text-center px-4">
      <div class="bg-[#F9F9F9] text-bg-[#162E4C] rounded-full w-16 h-16 flex items-center justify-center mb-4 text-xl font-bold">4</div>
      <h3 class="text-xl font-semibold mb-2 text-[#E6E0D9]">Pruebas y ajustes</h3>
      <p class="text-[#F9F9F9]">Testeo final y correcciones según tu feedback.</p>
    </div>
    
    <div class="flex flex-col items-center text-center px-4">
      <div class="bg-[#F9F9F9] text-bg-[#162E4C] rounded-full w-16 h-16 flex items-center justify-center mb-4 text-xl font-bold">5</div>
      <h3 class="text-xl font-semibold mb-2 text-[#E6E0D9]">Entrega y lanzamiento</h3>
      <p class="text-[#F9F9F9]">Subimos la web y te entregamos todo listo para usar.</p>
    </div>
    
    <div class="flex flex-col items-center text-center px-4">
      <div class="bg-[#F9F9F9] text-bg-[#162E4C] rounded-full w-16 h-16 flex items-center justify-center mb-4 text-xl font-bold">6</div>
      <h3 class="text-xl font-semibold mb-2 text-[#E6E0D9]">Soporte y mantenimiento</h3>
      <p class="text-[#F9F9F9]">Estamos para ayudarte con futuras consultas y cambios.</p>
    </div>
    
  </div>
</section>
