---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Nosotros from "../components/Nosotros.astro";
import Servicios from "../components/Servicios.astro";
import Navbar from "../components/Navbar.astro";
import Portfolio from "../components/Portfolio.astro";
import Proceso from "../components/Proceso.astro";
import FAQ from "../components/FAQ.astro";
import Footer from "../components/Footer.astro";
import AOSInit from "../components/AOSInit.astro";

---
<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
	<meta name="description" content="Agencia de diseño y desarrollo web. Creamos experiencias digitales modernas, funcionales y optimizadas para hacer crecer tu negocio." />
    <title>Mi sitio</title>
  </head>
  <body>

    <AOSInit client:load />
	<div class="sticky top-0 z-50 bg-[#0F2D4D]">
      <Navbar />
    </div>
    <Header />
	<Nosotros />
	<Servicios />
	<Portfolio />
	<Proceso />
	<FAQ />
	<Footer />

    <main>
      <slot />
    </main>
  </body>
</html>
